.user-card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    width: 450px;
}

.profile-img {
    width: 80px;
    height: 80px;
    min-width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info h2 {
    margin: 0;
    color: black;
    font-size: 24px;
}

.user-info p {
    margin: 5px 0 0 0;
    color: gray;
}
.delete-btn {
    margin-left: auto;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    color: #666;
}
.delete-btn:hover {
    color: red;
}